cffi==1.0.2
characteristic==14.3.0
cryptography==0.9
enum34==1.0.4
idna==2.0
ipaddress==1.0.7
py2-ipaddress==3.4.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.13
pyOpenSSL==0.15.1
service-identity==14.0.0
six==1.9.0
Twisted==15.2.0
zope.interface==4.1.2
